

#profiletext{
    position: relative;
    right: 50pt;
    font-size: 16pt;
    color: rgb(121, 49, 142);
}
.smallimg { 
    position: relative;
    top: 100pt;
    right: 100pt;

}
#edit_button{
    position: relative;
    
    height: 15%;
    width: auto;

}
.container {
    position: sticky;
    left: 500pt;
    width: 500pt;
    height: 200pt;

   
}


.container img#profile_pic{
    position:relative;
    left: 60pt;
    border-radius: 100%;
    width:80%;
}

#view_profile{
    position: relative;
   
    
    height: 15%;
    width: auto;

}


