
#add_button{
    position: relative;
    bottom: 115px;
    left: 135px;
    height: 15%;
    width: auto;

}
.container {
    position: sticky;
    left: 500px;
    width: 500px;
    height: 200px;
   
}


.container img#profile_pic{
    position:relative;
    left: 60px;
    border-radius: 30%;
    width:100%;
}

#view_profile{
    position: relative;
    bottom: 115px;
    left: 145px;
    height: 15%;
    width: auto;

}


